main.main {
  display: flex;
  flex: 1 2 auto;
  width: 100%;
  height: 100%;
  padding: 5px;
  section.data-clients {
    margin: 5px;
    background: #dddddd;
    padding: 5px;
    section.client-sender, section.client-recipient {
      border: #91ccff;
      form{
        display: flex;
        flex-direction: column;
        label{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px;
          input{
            margin-left: 5px;
            width: 230px;
          }
        }
      }
    }
    section.client-recipient {}
  }
  section.data-package {
    margin: 5px;
    background: #dddddd;
    padding: 5px;
    border: #91ccff;
    form{
      display: flex;
      flex-direction: column;
      label{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        input{
          margin-left: 5px;
          width: 230px;
        }
      }
    }
    .control-buttons {

      button.cancel {
        background: #ffbc69;
      }
      button.submit {
        background: #86f878;

      }
      button{
        height: 40px;
        border-radius: 8px;
      }
    }

  }
  section.submit-data {
    .invoice-text {}
    .invoice-data {}
    .control-buttons {}
  }
}
